
		<div class="container-fluid" id="footerBar">
			<div class="row">
				<div class="col col-sm-0 col-md-0 col-lg-1"></div>
				<div class="col col-sm-12 col-md-12 col-lg-10">
					<div class="flipContainer">
						<div id="flipBtn">
							<div class="flipDiv flipFront">
								<div class="flipTriangleFront"></div>
							</div>
							<div class="flipDiv flipBack">
								<div class="flipTriangleBack"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-sm-0 col-md-0 col-lg-1"></div>
			</div>
		</div>
	</div>

</body>
</html>
