<% include partials/header %>

	<div class="container-fluid">
		<div class="row mainPane">
			<div class="col col-sm-0 col-md-0 col-lg-1 bufferPane"></div>
			<div class="col col-sm-12 col-md-2 col-lg-2 navPane">

				<div class="navContents navMain">
					<h1 class="" id="navLinkHome">Chasing Shadows</h1>
					<h4>Photography by</h4>
					<h4>Laura Kate Bemrose</h4>
					<br>
					<h3 id="categoryLink-nature">Nature</h3>
					<h3 hidden class="galleryLink galleryLink-nature" id="navLinkFlowers">Flowers</h3>
					<h3 hidden class="galleryLink galleryLink-nature" id="navLinkRichmond">Richmond Park</h3>
					<h3 hidden class="galleryLink galleryLink-nature" id="navLinkRaindrops">Raindrops</h3>
					<h3 id="categoryLink-travel">Travel</h3>
					<h3 hidden class="galleryLink galleryLink-travel" id="navLinkStockholm">Stockholm</h3>
					<h3 hidden class="galleryLink galleryLink-travel" id="navLinkCuba">Cuba</h3>
					<h3 hidden class="galleryLink galleryLink-travel" id="navLinkParis">Paris</h3>
					<h3 id="categoryLink-commissions">Commissions</h3>
					<h3 hidden class="galleryLink galleryLink-commissions" id="navLinkWeddingFlowers">Wedding flowers</h3>
					<br>
					<h2>About</h2>
					<div class="navFooter">
					</div>
				</div>

				<div hidden class="navContents navMusic">
					<h1 class="" id="navLinkHome">Chasing Shadows</h1>
					<h4>Photography by</h4>
					<h4>Laura Kate Bemrose</h4>
					<br>
					<h3 id="categoryLink-nature">Music</h3>
					<h3 hidden class="galleryLink galleryLink-nature" id="navLinkFlowers">Flowers</h3>
					<h3 hidden class="galleryLink galleryLink-nature" id="navLinkRichmond">Richmond Park</h3>
					<h3 hidden class="galleryLink galleryLink-nature" id="navLinkRaindrops">Raindrops</h3>
					<h3 id="categoryLink-travel">Fashion</h3>
					<h3 hidden class="galleryLink galleryLink-travel" id="navLinkStockholm">Stockholm</h3>
					<h3 hidden class="galleryLink galleryLink-travel" id="navLinkCuba">Cuba</h3>
					<h3 hidden class="galleryLink galleryLink-travel" id="navLinkParis">Paris</h3>
					<br>
					<h2>About</h2>
					<div class="navFooter">
					</div>
				</div>

			</div>

			<div class="col col-sm-12 col-md-10 col-lg-8 showPane">

				<div class="showContents showMain">
					<div class="imgDiv imgDiv-home row">
						<img id="coverImg" class="imgFull" src="img/Cover.JPG">
					</div>
					<div hidden class="imgDiv imgDiv-flowers row">
						<div class="imgThumbs">
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_1.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_2.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_3.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_4.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_5.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_6.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_7.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_8.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_9.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_10.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_11.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_12.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_13.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_14.JPG">
							</div>
						</div>
					</div>
				</div>

				<div hidden class="showContents showMusic">
					<div class="imgDiv imgDiv-home row">
						<img id="coverImg" class="imgFull" src="img/CoverMusic.JPG">
					</div>
					<div hidden class="imgDiv imgDiv-flowers row">
						<div class="imgThumbs">
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_1.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_2.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_3.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_4.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_5.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_6.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_7.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_8.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_9.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_10.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_11.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_12.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_13.JPG">
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-12 imgThumbDiv">
								<img class="imgFull" src="img/Flowers/Thumbs/Flowers_14.JPG">
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col col-sm-0 col-md-0 col-lg-1 bufferPane"></div>
		</div>


<% include partials/footer %>
