<!DOCTYPE html>
<html>
<head>
	<title>Chasing Shadows</title>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>	
	<script type="text/javascript" src="js/chasingshadows.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Bellefair|Julius+Sans+One|Nixie+One" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="lib/bigtext.js"></script>
	<script type="text/javascript" src="lib/imagesloaded.pkgd.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/chasingshadows.css">
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body>

<!--	COMMON 		-->



	<div class="container-fluid allDiv" id="allDiv" data-maintheme=<%= mainTheme %>>
		<div class="row">

		<!-- Mini-nav 		-->

			<div class="col col-md-12 hidden-lg miniNavContainer">
	
				<div class="mainNav miniNav invisible">
					<div class="miniLogo bigTextSm">
						<h1 class="miniLogoHeader">Chasing Shadows</h1>
					</div>
				</div>

				<div class="musicNav miniNav invisible">
					<div class="miniLogo bigTextSm">
						<h1 class="miniLogoHeader">Chasing Shadows</h1>
					</div>
				</div>

				<div class="miniNavBtns">
					<ul class="navBtn">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<form>
									<li class="mainMiniNav notShown">
										<ul><h3 class="categoryLink">Nature</h3>
											<li hidden class="galLink galLinkMain" data-pics="16" data-gallery="Flowers" data-thumbClass="thumb4x4"><h3>Hampton Court Flower Show</h3></li>
										</ul>
										<ul><h3 class="categoryLink">Travel</h3>
											<li hidden class="galLink galLinkMain" data-pics="19" data-gallery="Stockholm" data-thumbClass="thumbEven"><h3>Stockholm</h3></li>
										</ul>
										<ul><h3 class="categoryLink">Commissions</h3>
											<li></li>
										</ul>
									</li>
									<li class="musicMiniNav notShown">
										<ul><h3 class="categoryLink">Gigs</h3>
											<li hidden class="galLink galLinkMain" data-pics="14" data-gallery="Flowers" data-thumbClass="thumb4x4"><h3>A</h3></li>
										</ul>
										<ul><h3 class="categoryLink">Fashion</h3>
											<li hidden class="galLink galLinkMain" data-pics="22" data-gallery="Stockholm" data-thumbClass="thumbEven"><h3>C</h3></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li class="mainMiniNav notShown"><h3>About</h3></li>
									<li class="musicMiniNav notShown"><h3>About</h3></li>
								</form>
							</ul>
						</li>
					</ul>

					<div class="flipContainer navBtn miniFlip">
						<div class="flipBtn">
							<div class="flipDiv flipFront">
								<div class="flipTriangleFront"></div>
							</div>
							<div class="flipDiv flipBack">
								<div class="flipTriangleBack"></div>
							</div>
						</div>
					</div>


<!-- 
					<i class="fa fa-bars" aria-hidden="true"></i>
 -->
				</div>
				
			</div>


		<!-- Nav 		-->

			<div class="col col-lg-2 visible-lg">
				
				<div class="col col-lg-2 visible-lg navCol mainNav invisible">
					<div>
						<div class="logo logoMain bigText">
							<h1 class="logoChasingMain">Chasing</h1>
							<h1 class="logoShadowsMain">Shadows</h1>
						</div>
						<div class="subLogo">
							<h2 class="logoPhotographyMain">Photography by</h2>
							<h2 class="logoLKBMain">Laura Kate Bemrose</h2>
						</div>
						<br>
						<br>
						<br>
						<br>
						<ul><h3 class="categoryLink">Nature</h3>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="16" data-gallery="Flowers" data-thumbClass="thumb4x4"><h3>Hampton Court Flower Show</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="12" data-gallery="Richmond" data-thumbClass="thumbEven"><h3>Richmond Park</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="4" data-gallery="Raindrops" data-thumbClass="thumbEven"><h3>Raindrops</h3></li>
						</ul>
						<ul><h3 class="categoryLink">Travel</h3>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="19" data-gallery="Stockholm" data-thumbClass="thumbEven"><h3>Stockholm</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="12" data-gallery="Cuba" data-thumbClass="thumbEven"><h3>Cuba</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="15" data-gallery="Paris" data-thumbClass="thumbEven"><h3>Paris</h3></li>
						</ul>
						<ul><h3 class="categoryLink">Commissions</h3>
							<li hidden class="galLink galLinkMain" data-galCol="3" data-pics="5" data-gallery="WeddingFlowers" data-thumbClass="thumbEven"><h3>Wedding flowers</h3></li>
						</ul>
						<br>
						<br>
						<h3>About</h3>
					</div>
				</div>

				<div class="col col-lg-2 visible-lg navCol musicNav invisible">
					<div>
						<div class="logo logoMain bigText">
							<h1 class="logoChasingMain">Chasing</h1>
							<h1 class="logoShadowsMain">Shadows</h1>
						</div>
						<div class="subLogo">
							<h2 class="logoPhotographyMain">Photography by</h2>
							<h2 class="logoLKBMain">Laura Kate Bemrose</h2>
						</div>
						<br>
						<br>
						<br>
						<br>
						<ul><h3 class="categoryLink">Gigs</h3>
							<li hidden class="galLink galLinkMain" data-galCol="3" data-pics="7" data-gallery="HiddenOrchestra" data-thumbClass="thumb4x4"><h3>Hidden Orchestra</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="3" data-pics="8" data-gallery="YussefKamaal" data-thumbClass="thumbEven"><h3>Yussef & Kamaal</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="3" data-pics="10" data-gallery="MaxCooper" data-thumbClass="thumbEven"><h3>Max Cooper</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="3" data-pics="9" data-gallery="MatthewHalsall" data-thumbClass="thumbEven"><h3>Matthew Halsall</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="16" data-gallery="Hipsway" data-thumbClass="thumbEven"><h3>Hipsway</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="10" data-gallery="AJA" data-thumbClass="thumbEven"><h3>AJA</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="9" data-gallery="CDuncan" data-thumbClass="thumbEven"><h3>C Duncan</h3></li>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="10" data-gallery="TokyoTaboo" data-thumbClass="thumbEven"><h3>Tokyo Taboo</h3></li>
						</ul>
						<ul><h3 class="categoryLink">Fashion</h3>
							<li hidden class="galLink galLinkMain" data-galCol="4" data-pics="48" data-gallery="Behind-the-scenes" data-thumbClass="thumbEven"><h3>Lulaloop - behind the scenes</h3></li>
						</ul>
						<br>
						<br>
						<h3>About</h3>
					</div>
				</div>

			</div>



			<div class="col col-lg-8 col-md-12 showPane">
				<div class="container-fluid">
					
				<!--	Cover image			-->
					<div class="row">
						<div id="mainCover" class="showDiv invisible">
							<div class="col col-lg-12">
								<img src="img\Cover.jpg">
							</div>
						</div>

						<div id="musicCover" class="showDiv invisible">
							<div class="col col-lg-12">
								<img src="img\CoverMusic.jpg">
							</div>
						</div>
					</div>


				<!--	Thumbnails			-->
					<div id="showThumbnails" class="showDiv row-fluid invisible">
					</div>

				<!--	Zoomed images	-->
					<div id="showZoomImg" class="showDiv row invisible">
						<div class="col col-lg-12">
							<img id="zoomImg" src="">
						</div>
					</div>

				<!--	Pic controls 		-->
					<div hidden class="picControls">
						<span class="controlSpan">
							<i class="fa fa-angle-left picControl" id="prevBtn"></i>
							<span class="picControl" id="closePopUp">x</span>
							<i class="fa fa-angle-right picControl" id="nextBtn"></i>
						</span>
					</div>

				</div>
			</div>

		<!-- Icon bar 		-->
			<div class="col col-lg-2 visible-lg">

				<div class="col col-lg-2 visible-lg iconCol">
					<div class="footerIcons">
						<a href="https://www.instagram.com/chasing.light.and.shadows/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<div class="flipContainer">
							<div class="flipBtn">
								<div class="flipDiv flipFront">
									<div class="flipTriangleFront"></div>
								</div>
								<div class="flipDiv flipBack">
									<div class="flipTriangleBack"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</body>
</html>




