.allDiv {
	width: 96%;
	max-width: 1872px;
	position: relative;
	top: 5vh;
	margin-left: auto;
	margin-right: auto;
}
body {
	text-transform: uppercase;
	transition: background 1s;
}
img {
	max-width: 100%;
	max-height: 90vh;
}
.blackTheme {
	background: black;
}
#mainNav {
	font-family: 'Spectral', serif;
	color: black;
}
#musicNav {
	font-family: 'Questrial', sans-serif;
	color: white;
	position: absolute;
}
#musicCover {
	position: absolute;
}
.col {
	padding: 0;
/*	justify-content: center;*/
}
.showPane {
	text-align: center;
/*	background: yellow;*/
	height: 90vh;
}
.navCol {
/*	background: pink;*/
	height: 90vh;
	position: fixed;
	padding: 0;
	margin: 0;
}
.iconCol {
/*	background: pink;*/
	height: 90vh;
}
.bufferCol {
	padding: 0;
	margin: 0;
	background: green;
}

#showThumbnails {
/*	background: green;*/
}
#showZoomImg {
	text-align: center;
}


.thumbImg {
	width: 25%;
} .thumb4x4 {
	padding: 0 15px 45px 15px;
} .thumbEven {
	padding: 0 15px 30px 15px;
}


/*#thumbCol1 {
	background: yellow;
}#thumbCol2 {
	background: pink;
}#thumbCol3 {
	background: orange;
}#thumbCol4 {
	background: lightblue;
}*/

.picControls {
	position: absolute;
	color: black;
	bottom: 0px;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
} .controlSpan {
	margin: 0 auto;
} .picControl {
	padding: 0 40px 0 40px;
	text-shadow: 0 0 3px white;
} #closePopUp {
	font-size: 0.7em;
}



/*	Nav 	*/
.logo {
	margin-bottom: 10px;
	margin-top: -5px;
} .logo h1 {
	margin: 0 0 0 0;
/*	font-size: 2.6em;*/
	display: inline;
} .logoChasingMain {
	letter-spacing: 7.8px;
} .logoShadowsMain {
	letter-spacing: 5px;
} .logoPhotographyMain {
	white-space: nowrap;
} .logoLKBMain {
	white-space: nowrap;
}
.logoChasingMusic {
	letter-spacing: 9.1px;
} .logoShadowsMusic {
	letter-spacing: 5px;
} .logoPhotographyMusic {
	white-space: nowrap;
} .logoLKBMusic {
	white-space: nowrap;
}
h2 {
	font-size: 0.8em;
	margin: 0 0 4px 0;
} h3 {
	font-size: 0.9em;
	margin: 0 0 10px 0;
/*	white-space: nowrap;*/
}
ul {
	padding: 0;
	list-style: none;
}
.galLink {
	padding-left: 15px;
}

/*	Footer icons */
.footerIcons {
	position: absolute;
	bottom: 0;
	right: 0;
}
.footerIcons i {
	font-size: 1.6em;
	padding-right: 20px;
	color: black;
	transition: color 1s;
}
/*	Flip button */
.flippedIcon {
	color: white !important;
} .flipContainer {
  	display: inline-block;
  	top: 2.5px;
	width: 20px;
	height: 20px;
	perspective: 300px;
	position: relative;
} #flipBtn {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
} .flipDiv {
	padding: 3px 0 0 4px;
	backface-visibility: hidden;
  	position: absolute;
  	margin: 0;
  	width: 100%;
  	height: 100%;
	background: black;
} .flipFront {
	background: black;
} .flipBack {
	background: white;
	transform: rotateY( 180deg );
} .flipped {
	transform: rotateY( 180deg );
} .flipTriangleFront {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 12.12px;
	border-color: transparent transparent transparent #ffffff;
} .flipTriangleBack {
	z-index: 1;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 12.12px 7px 0;
	border-color: transparent #000000 transparent transparent;
} .whiteIcons {
	color: white !important;
}
